{{- if eq site.Params.comments.enable true -}}
<HR style="opacity:.4;border-top-style:dashed;border-top-color:inherit">
<BR>
      <!-- Comments by Cusdis -->
      <h4>Comments:</h4>
      <div id="cusdis_thread" data-host="https://cusdis.com"
        data-app-id="11d28d2e-e506-4468-814e-2194e0f08d36"
        data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}"
        data-page-title="{{ .Title }}"></div>
      <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{{- end -}}
